.practice{
  padding: 125px;
  background: #FAFAFA;
  &__title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
    padding-bottom: 10px;
  }
  &__subtitle{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 45px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    width: 230px;
    padding-top: 30px;
    background: white;
    &_img{
      width: 100%;
    }

    &_title{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #252B42;
      padding-left: 30px;
    }
    &_subtitle{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #737373;
      padding-left: 30px;
    }
    &_img{
      cursor: pointer;
      width: 100%;
    }
  }
  &_p{
    padding: 0 20px;
  }
  &__row{
    margin: 0 -20px;
  }
}